/*Table*/


#page-head{}
#page-head h2{
  margin:0;
  font-size:21px;
  line-height:28px;
}

#page-title{}
#page-title em{
  font-weight:normal;
  font-size:12px;
}

#page-title h4{
  padding:0;
  font-weight: 700;
}
#page-title h4 .fa-home{
  font-size:21px;
  position: relative;
  top:1px;
}
#page-title h4 a{
  color:#222;
}
.editable{
  background:#FFEFA2;
}

.ping{
  height:26px;
  opacity: 0;
}

.ping p{
  margin: 0;
  padding: 3px 10px;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  background: #ffcd5c;
}


/* Main Table ======================================================================== */
#main table{
  display:none;
  border-top:2px #ccc solid;
}

#main table.table {
  display:table;
}


th.header {
  cursor: pointer;
}

th.header:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  margin-bottom: 1px;
  border-width: 0px 4px 0 4px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 0;
  height: 0;
}

th.header:not(.headerSortDown):hover:after  {
  border-bottom-color: transparent;
  border-bottom-width: 0px;
  border-top-color: #333;
  border-top-width: 6px;
}

th.headerSortDown:hover:after{
  border-top-color: transparent;
  border-top-width: 0px;
  border-bottom-color: #333;
  border-bottom-width: 6px;
}



/*File Path Column*/
.file_path{
  color:#999;
  font-size:12px;
}

/*Last Modified By Column*/
.modified {
  color:#999;
}

tr .download{
  text-align: center;
  width:35px;
}
tr .download a{
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
tr:hover .download a{
  opacity: 1;
}
td.delete{
  text-align: center;
  width: 35px;
  font-size: 15px;
  cursor: pointer;
  color:#666;
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
td.delete:hover{
  background: rgba(255,0,0,.3);
}
/*.delete{display: none;}*/ /*show() when editable and editing*/

.ui-sortable tr{
  cursor: move;
}
.ui-sortable-disabled tr{
  cursor: default;
}

/* Hide File button */
.hide_file i{
  display:none;
}
.i .hide_file {
  width:14px;
  cursor: pointer;
}
.hide_file{display:none;} /*Gets shown when editing*/

.i .hide_file i{
  cursor: pointer;
  display:inline-block;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=30);
  -webkit-transition:opacity .1s ease-in;  
     -moz-transition:opacity .1s ease-in;  
       -o-transition:opacity .1s ease-in;  
          transition:opacity .1s ease-in;
}
.i .hide_file i:hover{
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
}

/*Edit a row*/
.edit_file,
.edit_file:hover{
  margin-left:10px;
  padding:1px 4px;
  font-size:10px;
  font-style: italic;
  color:#888;
  text-decoration: none;
  text-transform: uppercase;
/*  position:absolute;*/
  display:none;
}
.edit_file:hover{
  background:#FFE606;
}

#theme_switcher .btn-toolbar{display:none;}


.file input{
  margin:0;
}

.edited_by{
  font-size:11px;
  text-align: right;
  color:#888;
}
.edited_by a{
  color:#C80000;
  text-transform: uppercase;
  font-style: normal;
}

.update_project{
  color: #C80000;
  text-transform: uppercase;
  font-style: normal;
  font-size:10px;
}
.version span{

}

.ui-sortable-placeholder{}

.quiet,
.quiet a{
  color:#ccc;
}
.quiet .icon img{
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter:alpha(opacity=40);
}
.quiet {
  background:#f6f6f6;
}






/*Edit Page*/
#tools{
  margin-bottom: 5px;
}
#tools ul{}
#tools .navbar-left li{
  margin-right:5px;
}
#tools .navbar-right li{
  margin-left:5px;
}
#tools ul li a{
  padding:1px 5px;
  background: #efefef
}
#tools .navbar-right{
  margin-right:0;
}
#tools .btn{
  border:none;
}
#tools .btn:hover{
  background:#3071a9;
  color:#fff;
}
#tools .btn-edit .btn,
#tools .btn-done .btn{
  background:#428bca;
}
#tools .btn-done{
  display:none;
}
#tools .ping {
  background: none;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
#tools .ping a {
  color:#019D00;
}

.btn-slideshow{
  cursor: pointer;
}

/*Empty*/
.empty p{
  margin:50px 0;
  text-align: center;
  font-size:144px;
  line-height:160px;
  text-transform: uppercase;
  font-weight:bold;
  color:#ECECEC;
  text-shadow: -1px 2px #EFEFEF;
}

