@import url(http://graphics8.nytimes.com/css/common/screen/tooltip.css);


/* article tools */
.inlineWine .email {
	font-size:80.3%;
	font-family:Arial,sans-serif;
	text-transform:uppercase;
	display:block;
	margin:7px 0 0;
	background:transparent url(http://graphics8.nytimes.com/images/article/functions/tools_email.gif) no-repeat 0 2px !important;
	padding:0 0 3px 20px;
	color:#333;
	font-size:65.8%;
	line-height:150%;
}

#articleInline .inlineWine ul#wineList li.mobile {
	background:transparent url(http://autos.nytimes.com/skins/images/cellphone.gif) no-repeat scroll 0% 0% !important;
	background-position:9px 3px !important;
}

#articleInline .inlineWine ul#wineList li.last {
	border-bottom:0;
}

#articleInline .inlineWine ul#wineList li.email {
	background-position:7px 5px !important;
}

#articleInline .inlineWine ul.wineTools {
	font-size:100%;
	width:132px;
	padding-left:4px;
	margin:0 !important;
	text-transform:uppercase;
	padding-bottom:4px;
	margin:0 !important;
	position:static;
	clear:both;
}



#articleInline .inlineWine ul.wineTools li a,
#articleInline .inlineWine ul.wineTools li a.visited {
	padding-left:19px;
	color:#333;
}

/* wine list */
.inlineWine ul#wineList {
	margin-left: 0;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;	
}
#articleInline .inlineWine ul#wineList li {
	padding-left: 0;
	background-image: none;
	line-height: 1.2em;
	border-bottom: 1px solid #ccc;
	font-size: 80.3%; /* 11px */
	font-family: arial,helvetica,sans-serif;
	margin:0;
	position:relative;
}

#articleInline .inlineWine ul.wineTools li {
	padding:5px !important;
	display:block;
	position:static;
}

#articleInline .inlineWine .image .credit {
	padding-bottom:15px;
	padding-right:2px;
	margin:0;
}

div.inlineWine ul#wineList a.accordion_toggle,
div.inlineWine ul#wineList a.accordion_toggle:link,
div.inlineWine ul#wineList a.accordion_toggle:visited,
div.inlineWine ul#wineList a.accordion_toggle:hover,
div.inlineWine ul#wineList a.accordion_toggle:active {
	background: #fff; /* WAS #eff4f5 */
	color:#004276;
	padding: 5px 0 3px 5px !important;		
	display: block !important;
	cursor: pointer;
	text-transform: uppercase;
	_height: 1%; /* IE6 - has layout */
}

.inlineWine ul#wineList a.accordion_toggle:link,
.inlineWine ul#wineList a.accordion_toggle:visited {
}

.inlineWine ul#wineList li a:hover {
	text-decoration: none !important;
}

.inlineWine ul#wineList div.accordion_content a:hover {
	text-decoration:underline !important;
}


#articleInline ul#wineList h4 a {
	color:#004276;
}

#articleInline ul#wineList .image {
	margin-bottom:0;
}

.inlineWine ul#wineList li a em {
	font-style: normal;
	color: #000;
}	
#articleInline .inlineWine ul#wineList li.last {
	border-bottom: none;
}



/* wine details */
#wineList .accordion_content {
	padding:0 0 1px;
	background: #e6eff8; /* WAS: #fff */
	overflow:hidden;
}

#wineList .accordion_toggle_active .accordion_content {
	overflow: visible !important;
}

#wineList h4,
#wineList h6,
#wineList p {
	padding: 0 9px;
	margin-top:0;
}

#wineList h4 {
	padding-top:9px;
}

#articleInline #wineList h4,
#articleInline #wineList h6 {
	margin-bottom: 4px;
	line-height: 1.3em;
	font-size: 100%; /* 11px */
}	
#articleInline #wineList p {
	margin: 0 0 9px 0;
}

#wineList .accordion_content {
	display:none;
}

#articleInline .inlineWine h4.deck,
#articleInline .inlineWine .story p.summary {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:78.9%;
	line-height:1.4em;
	color:#333;
}

#articleInline .inlineWine .story p.summary {
	margin-bottom:1em;
}

#articleInline .inlineWine h3.promo {
	margin-bottom:5px;
}

.inlineWine .coordinator,
.inlineWine .bestvalueKey {
	font-family:Arial,sans-serif;
	font-size:72.3%;
	padding-top:3px;
}

.inlineWine .bestvalueKey {
	padding-left:20px;
	background-image:url(http://graphics8.nytimes.com/packages/html/dining/wine/images/bestvalue_off.gif) !important;
	background-repeat:no-repeat !important;
	background-position:0 0 !important;
	padding-top:1px;
	height:16px;
	margin-top:2px;
	line-height:136.4%;
}

#toolTip {
	width:168px !important;
	font-size:81.4%;
}


#toolTip #content {
	width:163px !important;
}

#toolTip #button {
	margin-bottom:-13px;
}

#articleInline .inlineWine ul#wineList li.bestvalue a.accordion_toggle {
	background-image:url(http://graphics8.nytimes.com/packages/html/dining/wine/images/bestvalue_off.gif) !important;
	background-repeat:no-repeat !important;
	background-position:170px 2px !important;
}

#articleInline .inlineWine ul#wineList li.bestvalue a.accordion_toggle_active {
	
	background-image:url(http://graphics8.nytimes.com/packages/html/dining/wine/images/bestvalue_on.gif) !important;
}

#articleInline .inlineWine ul#wineList li.bestvalue a.accordion_toggle:hover  {
	background-image:url(http://graphics8.nytimes.com/packages/html/dining/wine/images/bestvalue_on.gif) !important;
}

#articleInline #wineList .textForm h4 {
	padding-left:0;
	padding-right:0;
	margin-bottom:8px;
	padding-top:0;
	float:left;
}

#articleInline .textForm .whatsThis {
	float:right;
	padding:1px 3px 0 0;
	font-size:91%;
}

#articleInline .textForm .closeText {
	background:transparent url(http://graphics8.nytimes.com/images/article/comments/buttons/close_window.gif) 0 0;
	float:right;
	height:0 !important;
	margin:0;
	overflow:hidden;
	padding:13px 0 0;
	width:13px;
	display:block;
	text-indent:-3333px;
	position:relative;
	z-index:300;
}

#articleInline .textForm {
	border:1px solid #d5d5d5;
	padding:9px 9px 9px 8px;
	background:#ffffef;
	position:relative;
	margin-bottom:-379px;
	top:0;
	width:171px;
	display:none;
	z-index:90;
}

/* ACCORDIAN HOVER */
#articleInline .inlineWine ul#wineList li a.accordion_toggle:hover,
#articleInline .inlineWine ul#wineList li a.accordion_toggle:active {
	background-color:#004276 !important;
	color:#fff !important;
}
#articleInline .inlineWine ul#wineList li.bestvalue a.accordion_toggle:hover,
#articleInline .inlineWine ul#wineList li.bestvalue a.accordion_toggle:active  {
	background-image:url(http://graphics8.nytimes.com/packages/html/dining/wine/images/bestvalue_on.gif) !important;
}
	
.inlineWine ul#wineList a.accordion_toggle:hover em,
.inlineWine ul#wineList a.accordion_toggle:active em {
	color:#fff !important;
}

.inlineWine ul#wineList li a:hover em,
.inlineWine ul#wineList li a:active em {
	color:#fff !important;
}

div.inlineWine ul#wineList a.accordion_toggle_active,
div.inlineWine ul#wineList a.accordion_toggle_active:link,
div.inlineWine ul#wineList a.accordion_toggle_active:visited,
div.inlineWine ul#wineList a.accordion_toggle_active:hover,
div.inlineWine ul#wineList a.accordion_toggle_active:active {
	color: #fff !important;
	background: #004276 !important; /* WAS: #666 */
}
div.inlineWine ul#wineList a.accordion_toggle_active em {
	color: #fff !important;
}